<br><br>
<div class='about'>
<h1> Getting Started </h1>

<p> Welcome to Logbook—an essential tool for small businesses to seamlessly track and analyze credit transactions, empowering informed financial decisions. Streamline your processes and elevate your financial management with Logbook. </p>
<hr class="my-4"> 

<h2> Homepage </h2>

<p> The Homepage provides a concise snapshot of store health, presenting key metrics such as the value of borrowed products and the individual customer count for each employee. </p>
<hr class="my-4">

<h2> Customers </h2>

<p> The Customers page offers a comprehensive view of all customers, displaying essential information such as full name, phone number, email, and the corresponding employee's username who added them to the list. </p>

<h3> Customer Profile </h3>

<p> Within each customer profile, you will find an expanded view of the same essential information, along with a detailed list of all products associated with that customer. </p>
<hr class="my-4">

<h2> Reminders </h2>

<p> This app offers the optional feature of setting reminders using Google Calendar, providing enhanced flexibility should the need arise. </p>
<hr class="my-4">

<h2> Admin </h2>

<p> Lastly, This application leverages the robust capabilities of ActiveAdmin, a powerful and versatile tool, to optimize its functionalities. </p>
</div>


</div>