<h1>Editing customer</h1>

<%= render "form", customer: @customer %>

<br>

<div>
  <%= link_to "Cancel", @customer, class:'btn btn-secondary' %> |
  <%= link_to "Back to Customers", customers_path, class:'btn btn-dark' %>
</div>
