.header {
    text-align: center;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #dee5ec;
    border: 1px solid #ccc;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  body {
    margin: 0;
  }
  
  .cart {
    float: left;
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }

  .product {
    float: right;
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }
  
  .left-div {
    float: left;
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
  }
  
  .right-div {
    float: right;
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .float-right {
    float: right;
  }
  
  .health {
    padding: 1em;
    font-size: 50px;
    color: lightgreen;
  }

  .bleeding {
    padding: 1em;
    font-size: 50px;
    color: crimson;
  }

  @media only screen and (max-width: 600px) {
    /* Adjust the font size for smaller screens */
    .bleeding {
      font-size: 30px;
    }
    .health {
        font-size: 30px;
      }
  }
  
  @media only screen and (min-width: 1200px) {
    /* Adjust the font size for larger screens */
    .bleeding {
      font-size: 70px;
    }
    .health {
        font-size: 70px;
      }
  }