.header {
    text-align: center;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #dee5ec;
    border: 1px solid #ccc;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  body {
    margin: 0;
  }
  
  .left-div {
    float: left;
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
  }
  
  .right-div {
    float: right;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .float-right {
    float: right;
  }
  