<div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #d9b9ff;color: #131b24;box-shadow: 2px 8px 10px 0px rgba(0, 0, 0, 0.1);">
  <%= notice %>
  <%= alert %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>